@use './mixins/fonts' as mix;
@use './skins/sc/abstracts/' as sc;
@use './skins/ccap/abstracts/' as ccap;
@use './skins/sc-dark/abstracts/' as sc-dark;


html {
   // color-scheme: light dark;
    font-size: 16px;
}

body {
    margin: 0;
}

.flex-row {
    display: flex;
    flex-direction: row;
    gap: .5rem;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.center-content {
    display: flex;
    justify-content:  center;
}

.center {
    text-align: center;
}

.right-content {
    display: flex;
    justify-content:  right;   
}

.left-content {
    display: flex;
    justify-content:  left;   

}