@import './variables';

$cursor-disabled: not-allowed;

input[type="submit"],
input[type="reset"],
input[type="button"],
a.button,
button {
    &.button {
        border-radius: $button-corners;
        display: flex;
        justify-content: center;
        align-items: center;
        touch-action: manipulation;
        cursor: pointer;
        background-image: none;
        
        font-family: $button-font-family;
        font-size: $button-font-size;
        font-weight: $font-weight-regular; 
        touch-action: manipulation;
        cursor: pointer;
        background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
    
        height: $button-height;
        min-width: 12.5rem;
        padding-top: $button-padding-x;
        padding-bottom: $button-padding-x;
        padding-left: $button-padding-side;
        padding-right: $button-padding-side;
        background-color: $button-primary-color-background-normal;
        color: $button-primary-color-foreground-normal;
        border: none;
        transition: 350ms;

        &__hover__,
        &:hover,
        &:focus {
            background-color: $button-primary-color-background-focus;
            color: $button-primary-color-foreground-focus;
            transition: 350ms;
        }

        &__active__,
        &:active {
            background-color: $button-primary-color-background-focus;
            color: $button-primary-color-foreground-focus;
            font-weight: $font-weight-bold;
            box-shadow: $button-shadow;
        }
    
        &[disabled],
        fieldset[disabled] & {
            cursor: $cursor-disabled;
            background-color: $button-primary-color-background-disabled;
            color: $button-primary-color-foreground-disabled;
        }

        &.secondary {
            background-color: $button-secondary-color-background-normal;
            color: $button-secondary-color-foreground-normal;
            outline: $button-secondary-border $button-secondary-color-foreground-normal;
            transition: 350ms;

            &__hover__,
            &:hover,
            &:focus {
                outline: $button-secondary-border-active $button-secondary-color-foreground-focus;
                color: $button-secondary-color-foreground-focus;
                background-color: $button-secondary-color-background-focus;
                transition: 350ms;
            }
    
            &__active__,
            &:active {
                outline: $button-secondary-border-active $button-secondary-color-foreground-active;
                color: $button-secondary-color-foreground-active;
                background-color: $button-secondary-color-background-active;;
                font-weight: $font-weight-bold;
                box-shadow: $button-shadow;
            }
        
            &[disabled],
            fieldset[disabled] & {
                outline: $button-secondary-border $button-secondary-color-foreground-disabled;
                cursor: $cursor-disabled;
                background-color: $button-secondary-color-background-disabled;
                color: $button-secondary-color-foreground-disabled;
            }
        }

        @media (max-width: 500px) {
            min-width:  $button-mobile-width;
            padding-left:  $button-mobile-padding-side;
            padding-right:  $button-mobile-padding-side;
        }

        @media (max-width: 300px) {
            min-width: 21.5rem;
            padding-left: 6.5rem;
            padding-right: 6.5rem;
            padding-top: 2rem;
            padding-bottom: 2rem;
        }
    }
    
    &.button-sm {
        height: 2rem;
        min-width: 6rem;
        padding-top: $button-small-padding;
        padding-bottom: $button-small-padding;
        padding-left: $button-small-padding;
        padding-right: $button-small-padding;
        background-color: $button-primary-color-background-normal;
        color: $button-primary-color-foreground-normal;
        border: none;
        transition: 350ms;


        &__hover__,
        &:hover,
        &:focus {
            background-color: $button-primary-color-background-focus;
            color: $button-primary-color-foreground-focus;
            transition: 350ms;

        }

        &__active__,
        &:active {
            background-color: $button-primary-color-background-active;
            color: $button-primary-color-foreground-active;
            font-weight: $font-weight-bold;
            box-shadow: $button-shadow;
        }
    
        &[disabled],
        fieldset[disabled] & {
            cursor: $cursor-disabled;
            background-color: $button-primary-color-background-disabled;
            color: $button-primary-color-foreground-disabled;
        }

        &.secondary {
            background-color: $button-secondary-color-background-normal;
            color: $button-secondary-color-foreground-normal;
            outline:  $button-secondary-border $button-secondary-color-foreground-normal;
            transition: 350ms;

            &__hover__,
            &:hover,
            &:focus {
                background-color: $button-secondary-color-background-focus;
                outline: $button-secondary-border-active $button-secondary-color-foreground-focus;
                color: $button-secondary-color-foreground-focus;
                transition: 350ms;

            }
    
            &__active__,
            &:active {
                background-color: $button-secondary-color-background-active;
                outline: $button-secondary-border-active $button-secondary-color-foreground-active;
                color: $button-secondary-color-foreground-active;
                font-weight: $font-weight-bold;
                box-shadow: $button-shadow;
            }
        
            &[disabled],
            fieldset[disabled] & {
                outline:  $button-secondary-border $button-secondary-color-foreground-disabled;
                cursor: $cursor-disabled;
                background-color: $button-secondary-color-background-disabled;
                color: $button-secondary-color-foreground-disabled;
            }
        }
    }

    &.button-round {
        height: $button-round-padding;
        min-width: $button-round-padding;
        border-radius: $button-round-corners;
        padding-top: $button-round-padding;
        padding-bottom: $button-round-padding;
        padding-left: $button-round-padding-side;
        padding-right: $button-round-padding-side;
        font-family: $font-icon-family;
        font-size: 2rem;

        background-color: $button-primary-color-background-normal;
        color: $button-primary-color-foreground-normal;
        border: none;
        transition: 350ms;


        &__hover__,
        &:hover,
        &:focus {
            background-color: $button-primary-color-background-focus;
            color: $button-primary-color-foreground-focus;
            transition: 350ms;
        }

        &__active__,
        &:active {
            background-color: $button-primary-color-background-active;
            color: $button-primary-color-foreground-active;
            font-weight: $font-weight-bold;
            box-shadow: $button-shadow;
        }
    
        &[disabled],
        fieldset[disabled] & {
            cursor: $cursor-disabled;
            background-color: $button-primary-color-background-disabled;
            color: $button-primary-color-foreground-disabled;
        }

        &.secondary {
            background-color: $button-secondary-color-background-normal;
            color: $button-secondary-color-foreground-normal;
            outline: $button-secondary-border $button-secondary-color-foreground-normal;
            transition: 350ms;

            &__hover__,
            &:hover,
            &:focus {
                outline: $button-secondary-border-active $button-secondary-color-foreground-focus;
                color: $button-secondary-color-foreground-focus;
                background-color: $button-secondary-color-background-focus;
                transition: 350ms;
            }
    
            &__active__,
            &:active {
                outline: $button-secondary-border-active $button-secondary-color-foreground-active;
                color: $button-secondary-color-foreground-active;
                background-color: $button-secondary-color-background-active;;
                font-weight: $font-weight-bold;
                box-shadow: $button-shadow;
            }
        
            &[disabled],
            fieldset[disabled] & {
                outline: $button-secondary-border $button-secondary-color-foreground-disabled;
                cursor: $cursor-disabled;
                background-color: $button-secondary-color-background-disabled;
                color: $button-secondary-color-foreground-disabled;
            }
        }
    
    }
}