/*
@import './mixins/fonts';
@import './variables';


@include declare-fonts($font-primary-family, $font-primary-path,

                        $font-primary-file-regular, $font-primary-file-bold, $font-primary-file-light, 
                        $font-primary-file-italic, $font-primary-file-bold-italic, $font-primary-file-light-italic,

                        $font-weight-regular, $font-weight-bold, $font-weight-light);


@include declare-fonts($font-secondary-family, $font-secondary-path,

                        $font-secondary-file-regular, $font-secondary-file-bold, $font-secondary-file-light, 
                        $font-secondary-file-italic, $font-secondary-file-bold-italic, $font-secondary-file-light-italic,

                        $font-weight-regular, $font-weight-bold, $font-weight-light);


@include declare-fonts($font-headline-family, $font-headline-path,

                        $font-headline-file-regular, $font-headline-file-bold, $font-headline-file-light, 
                        $font-headline-file-italic, $font-headline-file-bold-italic, $font-headline-file-light-italic,

                        $font-weight-regular, $font-weight-bold, $font-weight-light);

@include declare-fonts($font-icon-family, $font-icon-path,

                        $font-icon-file, $font-icon-file, $font-icon-file, 
                        $font-icon-file, $font-icon-file, $font-icon-file,

                        $font-weight-regular, $font-weight-bold, $font-weight-light);

.font {
    .primary {
        font-family: $font-primary-family;
    }

    .secondary {
        font-family: $font-secondary-family;
    }

    .headline {
        font-family: $font-headline-family;
    }
}

.light {
    font-weight: $font-weight-light;
}

.regular {
    font-weight: $font-weight-regular;
}

.bold {
    font-weight: $font-weight-bold;
}

.italic {
    font-style: italic;
}

.highlighted-text {
    color: $text-highlight-color;
}	

*/