@use './fonts' as f;
@use './palette' as p;

$button-font-family: f.$font-secondary-family;

$button-primary-color-background-normal:  p.$sc-palette-color-santander;
$button-primary-color-background-focus: p.$sc-palette-color-boston;
$button-primary-color-background-active: p.$sc-palette-color-ruby;
$button-primary-color-background-disabled: p.$sc-palette-color-light-grey;

$button-primary-color-foreground-normal: p.$sc-palette-color-white;
$button-primary-color-foreground-focus: p.$sc-palette-color-white;
$button-primary-color-foreground-active: p.$sc-palette-color-white;
$button-primary-color-foreground-disabled: p.$sc-palette-color-white;



$button-secondary-color-foreground-normal:  p.$sc-palette-color-santander;
$button-secondary-color-foreground-focus: p.$sc-palette-color-boston;
$button-secondary-color-foreground-active: p.$sc-palette-color-ruby;
$button-secondary-color-foreground-disabled: p.$sc-palette-color-light-grey;

$button-secondary-color-background-normal: p.$sc-palette-color-white;
$button-secondary-color-background-focus: p.$sc-palette-color-white;
$button-secondary-color-background-active: p.$sc-palette-color-white;
$button-secondary-color-background-disabled: p.$sc-palette-color-white;

$button-colors: 
$button-primary-color-foreground-normal, $button-primary-color-foreground-focus, $button-primary-color-foreground-active, $button-primary-color-foreground-disabled,
$button-primary-color-background-normal, $button-primary-color-background-focus, $button-primary-color-background-active, $button-primary-color-background-disabled,
$button-secondary-color-foreground-normal, $button-secondary-color-foreground-focus, $button-secondary-color-foreground-active, $button-secondary-color-foreground-disabled,
$button-secondary-color-background-normal, $button-secondary-color-background-focus, $button-secondary-color-background-active, $button-secondary-color-background-disabled;


$button-border-radius: 2rem;

$button-font-size: 1.8rem;
$button-height: 4.2rem;
$button-min-width: 12.5rem;
$button-padding-side: 3.6rem;
$button-padding-x: 1.4rem;
$button-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2);

// secondary button
$button-secondary-border: 1px solid;
$button-secondary-border-active: 2px solid;

// mobile button
$button-mobile-width: 21.5rem;
$button-mobile-padding-side: 6.5rem;

// small button
$button-small-height: 2rem;
$button-small-border-radius: 2rem;
$button-small-font-size: 1.8rem;
$button-small-min-width: 6rem;
$button-small-padding: 1.6rem;;
$button-small-border-radius: 2rem;

// round button
$button-round-border-radius: 3rem;
$button-round-padding: 2rem;
$button-round-padding-side: 1.2rem;