@use './palette' as p;
@use './fonts' as f;

// colors
$header-background-color: p.$sc-palette-color-red-50;
$header-foreground-color: p.$sc-palette-color-neutral-00;
$header-column-head-color: p.$sc-palette-color-neutral-00;

// fonts
$header-font-family: f.$font-secondary-family;
$header-mobile-font-size: 2rem;
$header-tablet-font-size: 2rem;
$header-desktop-font-size: 2rem;

$header-mobile-height: 3rem;
$header-tablet-height: 3rem;
$header-desktop-height: 3rem;