@use './fonts' as f;
@use './typography' as t;

$checklist-font-family: f.$font-secondary-family;
$checklist-icon: 'checkmark-in-a-circle';
$checklist-icon-color: t.$text-highlight-color;
$checklist-icon-font: f.$font-icon-family;