$sc-palette-color-santander: #ec0000; // Santander
$sc-palette-color-boston: #cc0000; // Boston
$sc-palette-color-ruby: #990000; // Ruby

$sc-palette-color-dark-grey: #444444; // Dark Grey
$sc-palette-color-darker-grey: #222222; // Darker Grey
$sc-palette-color-medium-grey: #767676; // Medium Grey
$sc-palette-color-light-grey: #cccccc; // Light Grey
$sc-palette-color-lighter-grey: #f0f0f0; // Lighter Grey
$sc-palette-color-default-grey: #EAEAEA; // default image grey

$sc-palette-color-light-sky: #deedf2; // Light Sky
$sc-palette-color-medium-sky: #cedee7; // Medium Sky
$sc-palette-color-dark-sky: #9bc3d3; // Dark Sky

$sc-palette-color-white: #ffffff; // White
$sc-palette-color-black: #000000; // Black


$sc-palette-color-dallas-blue: #3366ff; // Dallas Blue
$sc-palette-color-midnight-sky: #257fa4; // Midnight Sky

$sc-palette-color-yellow: #ffcc33; // Yellow
$sc-palette-color-green: #63ba68; // Green
$sc-palette-color-turquoise: #1bb3bc; // Turquoise
$sc-palette-color-blue: #3366ff; // Blue
$sc-palette-color-purple: #9e3667; // Purple
$sc-palette-color-lighter-sky: #f5f9fb; // Lighter Sky


$sc-palette-color-dark-yellow: #946f00; // Dark Yellow
$sc-palette-color-dark-green: #008437; // Dark Green
$sc-palette-color-dark-turquoise: #137e84; // Dark Turquoise
$sc-palette-color-darker-turquoise:  #0D5155; // Darker Turquoise
$sc-palette-color-dark-blue: #0032e6; // Dark Blue
$sc-palette-color-dark-purple: #732645; // Dark Purple
$sc-palette-color-darker-sky: #257fa4; // Accesssible Sky


$sc-palette-color-neutral-10: #f6f6f6; // 09 Medium Grey at 5%
$sc-palette-color-neutral-20: #ececec; // 08 Medium Grey at 10%
$sc-palette-color-neutral-30: #dadada; // 07 Medium Grey at 20%
$sc-palette-color-neutral-40: #c7c7c7; // 06 Medium Grey at 30%
$sc-palette-color-neutral-50: #b5b5b5; // 05 Medium Grey at 40%
$sc-palette-color-neutral-60: #a2a2a2; // 04 Medium Grey at 50%
$sc-palette-color-neutral-70: #8f8f8f; // new
$sc-palette-color-neutral-80: #7c7c7c; // 03 Medium Grey at 70%
$sc-palette-color-neutral-90: #6a6a6a; // 02 Medium Grey at 80%
$sc-palette-color-neutral-100: #575757; // 01 Medium Grey at 90%


$sc-palette-color-error-base: #cc0000; // Error Base
$sc-palette-color-error-darker: #990000; // Error Dark
$sc-palette-color-error-lighter: #fee5e5; // Error Light

$sc-palette-color-success-base: #63ba68; // Success Base
$sc-palette-color-success-darker: #3a8340; // Success Dark
$sc-palette-color-success-lighter: #f0f8f0; // Success Light

$sc-palette-color-warning-base: #ffcc33; // Warning Base
$sc-palette-color-warning-darker: #946f00; // Warning Dark
$sc-palette-color-warning-lighter: #fffaeb; // Warning Light

$sc-palette-color-info-base: #9bc3d3; // Info Base
$sc-palette-color-info-darker: #257fa4; // Info Dark
$sc-palette-color-info-lighter: #f9fcfd; // Info Light



// ================== new palette ==================
$sc-palette-color-neutral-00: #ffffff; 
$sc-palette-color-neutral-01: #f6f6f6; 
$sc-palette-color-neutral-10: #f0f0f0; 
$sc-palette-color-neutral-25: #cccccc;
$sc-palette-color-neutral-45: #8f8f8f; 
$sc-palette-color-neutral-55: #727272; 
$sc-palette-color-neutral-95: #222222; 

$sc-palette-color-opacity-00-neutral-95: rgba(34, 34, 34, 0.00); 
$sc-palette-color-opacity-04-neutral-95: rgba(34, 34, 34, 0.04); 
$sc-palette-color-opacity-06-neutral-95: rgba(34, 34, 34, 0.06); 
$sc-palette-color-opacity-10-neutral-95: rgba(34, 34, 34, 0.10); 
$sc-palette-color-opacity-20-neutral-95: rgba(34, 34, 34, 0.20); 
$sc-palette-color-opacity-23-neutral-95: rgba(34, 34, 34, 0.23); 
$sc-palette-color-opacity-50-neutral-95: rgba(34, 34, 34, 0.50); 

//skys
$sc-palette-color-sky-00: #f5f9fB; 
$sc-palette-color-sky-20: #cedee7; 
$sc-palette-color-sky-75: #23779a; 


//greens
$sc-palette-color-green-05: #f0f8f0; 
$sc-palette-color-green-75: #008035; 

//yellows
$sc-palette-color-yellow-05: #fffaeb; 
$sc-palette-color-yellow-50: #fffaeb; 
$sc-palette-color-yellow-80: #856300; 

//reds
$sc-palette-color-red-05: #fee5e5; 
$sc-palette-color-red-40: #ec0000; 
$sc-palette-color-red-50: #cc0000; 
$sc-palette-color-red-65: #990000; 

//blues

//turquoises
$sc-palette-color-turquoise-75: #127277;
$sc-palette-color-turquoise-85: #0d5155;

$sc-palette-color-opacity-08-turquoise-70: rgba(19, 126, 132, 0.08);
$sc-palette-color-opacity-12-turquoise-70: rgba(19, 126, 132, 0.12);