
$sc-palette-color-neutral-00: #ffffff; 
$sc-palette-color-neutral-01: #f6f6f6; 
$sc-palette-color-neutral-10: #f0f0f0; 
$sc-palette-color-neutral-25: #cccccc;
$sc-palette-color-neutral-45: #8f8f8f; 
$sc-palette-color-neutral-55: #727272; 
$sc-palette-color-neutral-95: #222222; 

$sc-palette-color-opacity-00-neutral-95: rgba(34, 34, 34, 0.00); 
$sc-palette-color-opacity-04-neutral-95: rgba(34, 34, 34, 0.04); 
$sc-palette-color-opacity-06-neutral-95: rgba(34, 34, 34, 0.06); 
$sc-palette-color-opacity-10-neutral-95: rgba(34, 34, 34, 0.10); 
$sc-palette-color-opacity-20-neutral-95: rgba(34, 34, 34, 0.20); 
$sc-palette-color-opacity-23-neutral-95: rgba(34, 34, 34, 0.23); 
$sc-palette-color-opacity-50-neutral-95: rgba(34, 34, 34, 0.50); 

//skys
$sc-palette-color-sky-00: #f5f9fB; 
$sc-palette-color-sky-20: #cedee7; 
$sc-palette-color-sky-75: #23779a; 


//greens
$sc-palette-color-green-05: #f0f8f0; 
$sc-palette-color-green-75: #008035; 

//yellows
$sc-palette-color-yellow-05: #fffaeb; 
$sc-palette-color-yellow-50: #fffaeb; 
$sc-palette-color-yellow-80: #856300; 

//reds
$sc-palette-color-red-05: #fee5e5; 
$sc-palette-color-red-40: #ec0000; 
$sc-palette-color-red-50: #cc0000; 
$sc-palette-color-red-65: #990000; 

//blues

//turquoises
$sc-palette-color-turquoise-75: #127277;
$sc-palette-color-turquoise-85: #0d5155;

$sc-palette-color-opacity-08-turquoise-70: rgba(19, 126, 132, 0.08);
$sc-palette-color-opacity-12-turquoise-70: rgba(19, 126, 132, 0.12);