$sc-palette-color-santander: #ec0000; // Santander
$sc-palette-color-boston: #cc0000; // Boston
$sc-palette-color-ruby: #990000; // Ruby

$sc-palette-color-dark-grey: #444444; // Dark Grey
$sc-palette-color-darker-grey: #222222; // Darker Grey
$sc-palette-color-medium-grey: #767676; // Medium Grey
$sc-palette-color-light-grey: #cccccc; // Light Grey
$sc-palette-color-lighter-grey: #f0f0f0; // Lighter Grey
$sc-palette-color-default-grey: #EAEAEA; // default image grey

$sc-palette-color-light-sky: #deedf2; // Light Sky
$sc-palette-color-medium-sky: #cedee7; // Medium Sky
$sc-palette-color-dark-sky: #9bc3d3; // Dark Sky

$sc-palette-color-white: #ffffff; // White
$sc-palette-color-black: #000000; // Black


$sc-palette-color-dallas-blue: #3366ff; // Dallas Blue
$sc-palette-color-midnight-sky: #257fa4; // Midnight Sky

$sc-palette-color-yellow: #ffcc33; // Yellow
$sc-palette-color-green: #63ba68; // Green
$sc-palette-color-turquoise: #1bb3bc; // Turquoise
$sc-palette-color-blue: #3366ff; // Blue
$sc-palette-color-purple: #9e3667; // Purple
$sc-palette-color-lighter-sky: #f5f9fb; // Lighter Sky


$sc-palette-color-dark-yellow: #946f00; // Dark Yellow
$sc-palette-color-dark-green: #008437; // Dark Green
$sc-palette-color-dark-turquoise: #137e84; // Dark Turquoise
$sc-palette-color-darker-turquoise:  #0D5155; // Darker Turquoise
$sc-palette-color-dark-blue: #0032e6; // Dark Blue
$sc-palette-color-dark-purple: #732645; // Dark Purple
$sc-palette-color-darker-sky: #257fa4; // Accesssible Sky


$sc-palette-color-neutral-10: #f6f6f6; // 09 Medium Grey at 5%
$sc-palette-color-neutral-20: #ececec; // 08 Medium Grey at 10%
$sc-palette-color-neutral-30: #dadada; // 07 Medium Grey at 20%
$sc-palette-color-neutral-40: #c7c7c7; // 06 Medium Grey at 30%
$sc-palette-color-neutral-50: #b5b5b5; // 05 Medium Grey at 40%
$sc-palette-color-neutral-60: #a2a2a2; // 04 Medium Grey at 50%
$sc-palette-color-neutral-70: #8f8f8f; // new
$sc-palette-color-neutral-80: #7c7c7c; // 03 Medium Grey at 70%
$sc-palette-color-neutral-90: #6a6a6a; // 02 Medium Grey at 80%
$sc-palette-color-neutral-100: #575757; // 01 Medium Grey at 90%


$sc-palette-color-error-base: #cc0000; // Error Base
$sc-palette-color-error-darker: #990000; // Error Dark
$sc-palette-color-error-lighter: #fee5e5; // Error Light

$sc-palette-color-success-base: #63ba68; // Success Base
$sc-palette-color-success-darker: #3a8340; // Success Dark
$sc-palette-color-success-lighter: #f0f8f0; // Success Light

$sc-palette-color-warning-base: #ffcc33; // Warning Base
$sc-palette-color-warning-darker: #946f00; // Warning Dark
$sc-palette-color-warning-lighter: #fffaeb; // Warning Light

$sc-palette-color-info-base: #9bc3d3; // Info Base
$sc-palette-color-info-darker: #257fa4; // Info Dark
$sc-palette-color-info-lighter: #f9fcfd; // Info Light