$font-weight-bold: 700;
$font-weight-regular: 400;
$font-weight-light: 100;

$font-primary-path: '/skins/sc/fonts/SantanderText/';
$font-primary-family: 'Santander Text';
$font-primary-file-regular: 'SantanderText-Regular.otf';
$font-primary-file-bold: 'SantanderText-Bold.otf';
$font-primary-file-light: 'SantanderText-Light.otf';
$font-primary-file-italic: 'SantanderText-Italic.otf';
$font-primary-file-bold-italic: 'SantanderText-BoldItalic.otf';
$font-primary-file-light-italic: 'SantanderText-LightItalic.otf';
$font-primary: $font-primary-family,$font-primary-path, $font-primary-file-regular, $font-primary-file-bold, $font-primary-file-light, $font-primary-file-italic, $font-primary-file-bold-italic, $font-primary-file-light-italic, $font-weight-regular, $font-weight-bold, $font-weight-light;

$font-secondary-path: '/skins/sc/fonts/SantanderMicroText/';
$font-secondary-family: 'Santander Micro Text';
$font-secondary-file-regular: 'SantanderMicroText.otf';
$font-secondary-file-bold: 'SantanderMicroText-Bd.otf';
$font-secondary-file-light: 'SantanderMicroText-Lt.otf';
$font-secondary-file-italic: 'SantanderMicroText-It.otf';
$font-secondary-file-bold-italic: 'SantanderMicroText-BdIt.otf';
$font-secondary-file-light-italic: 'SantanderMicroText-LtIt.otf';
$font-secondary: $font-secondary-family,$font-secondary-path, $font-secondary-file-regular, $font-secondary-file-bold, $font-secondary-file-light, $font-secondary-file-italic, $font-secondary-file-bold-italic, $font-secondary-file-light-italic, $font-weight-regular, $font-weight-bold, $font-weight-light;

$font-headline-path: '/skins/sc/fonts/SantanderHeadline/';
$font-headline-family: 'Santander Headline';
$font-headline-file-regular: 'SantanderHeadline-Regular.otf';
$font-headline-file-bold: 'SantanderHeadline-Bold.otf';
$font-headline-file-light: 'SantanderHeadline-Regular.otf';
$font-headline-file-italic: 'SantanderHeadline-It.otf';
$font-headline-file-bold-italic: 'SantanderHeadline-BoldIt.otf';
$font-headline-file-light-italic: 'SantanderHeadline-It.otf';
$font-headline: $font-headline-family,$font-headline-path, $font-headline-file-regular, $font-headline-file-bold, $font-headline-file-light, $font-headline-file-italic, $font-headline-file-bold-italic, $font-headline-file-light-italic, $font-weight-regular, $font-weight-bold, $font-weight-light;

$font-icon-path: '/skins/sc/fonts/SantanderIcons/';
$font-icon-family: 'Santander Icons';
$font-icon-file: 'SantanderIcons.ttf';
$font-icon: $font-icon-family, $font-icon-path, $font-icon-file, $font-icon-file,$font-icon-file,$font-icon-file,$font-icon-file,$font-icon-file,$font-weight-regular, $font-weight-bold, $font-weight-light;

