@import './breakpoints';

@mixin build-header(    $height, $height-mobile, 
                        $font-family, $font-size, $font-size-mobile, 
                        $font-icon-family, $background-color, $foreground-color,
                        $logo) {
    .header {
        display: grid;

        grid-template-columns:  auto 3rem;
        grid-template-areas:
            " branding hamburger";

        @include respond-to($bpTablet) {
        grid-template-columns: 3rem auto 3rem;
        grid-template-areas:
            "balance branding hamburger";
        }
    
        height: $height-mobile;
        width: 100%;
        font-family: $font-family;
        font-size: $font-size-mobile;

        @include respond-to($bpSmallDesktop) {
            height: $height;
            font-size: $font-size;
        }
    
        background-color: $background-color;
        color: $foreground-color;
        border-bottom: 1px solid gray; // TODO: change to variable
    
        &__balance {
            grid-area: balance;
        }
    
        &__branding {
            grid-area: branding;
            display: grid;
            grid-template-columns: auto auto;
    
            justify-content: center;
            align-content: center;
            flex-direction: column;
    
    
            &::before {
                content: $logo;
                font-family: $font-icon-family;
                font-size: auto;
                padding-right: 10px;
    
                position: relative;
                top: 0.25rem;
            }
    
        }
    
        &__hamburger {
            grid-area: hamburger;
            font-family: $font-icon-family;
            font-size: $height-mobile;
        
            &--item {
                display: flex;
                justify-content: center;
                align-content: center;
                flex-direction: column;
    
                position: relative;
                top: 0px;
                right: -1.5rem;

                @include respond-to($bpTablet) {
                    right: 0.5rem;
                    height: $height;
                }
            }
        }
    }
}