@use './breakpoints' as bp;

// for now we'll keep these constants in this file. We may have to 
// bring these values in thru params in the future tho.

$typography-h1-font-size-mobile: 2.625rem;
$typography-h1-line-height-mobile: 3.25rem;
$typography-h2-font-size-mobile: 1.75rem;
$typography-h2-line-height-mobile: 2rem;
$typography-h3-font-size-mobile: 1.5rem;
$typography-h3-line-height-mobile: 2rem;
$typography-h4-font-size-mobile: 1.25rem;
$typography-h4-line-height-mobile: 1.5rem;
$typography-h5-font-size-mobile: 1.125rem;
$typography-h5-line-height-mobile: 1.5rem;
$typography-h6-font-size-mobile: 1rem;
$typography-h6-line-height-mobile: 1.5rem;

$typography-caption-font-size-mobile: .75rem;
$typography-caption-line-height-mobile: 1.25rem;
$typography-body-small-font-size-mobile: 0.875rem;
$typography-body-small-line-height-mobile: 1.25rem;
$typography-body-font-size-mobile: 1rem;
$typography-body-line-height-mobile: 1.5rem;
$typography-body-large-font-size-mobile: 1.125rem;
$typography-body-large-line-height-mobile: 1.5rem;

$typography-h1-font-size-desktop: 3rem;
$typography-h1-line-height-desktop: 3.75rem;
$typography-h2-font-size-desktop: 2.625rem;
$typography-h2-line-height-desktop: 3.25rem;
$typography-h3-font-size-desktop: 1.75rem;
$typography-h3-line-height-desktop: 2rem;
$typography-h4-font-size-desktop: 1.5rem;
$typography-h4-line-height-desktop: 2rem;
$typography-h5-font-size-desktop: 1.25rem;
$typography-h5-line-height-desktop: 1.5rem;
$typography-h6-font-size-desktop: 1.125rem;
$typography-h6-line-height-desktop: 1.5rem;

$typography-caption-font-size-desktop: .75rem;
$typography-caption-line-height-desktop: 1.25rem;
$typography-body-small-font-size-desktop: 0.875rem;
$typography-body-small-line-height-desktop: 1.25rem;
$typography-body-font-size-desktop: 1rem;
$typography-body-line-height-desktop: 1.5rem;
$typography-body-large-font-size-desktop: 1.125rem;
$typography-body-large-line-height-desktop: 1.5rem;


@mixin clip($c1) {
	-webkit-line-clamp: $c1;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
}


@mixin build-typography($font-family-headline, $font-family-primary, $font-weight, $text-color) {
    h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
	font-family: $font-family-headline;
	font-weight: $font-weight;
	font-style: normal;
	letter-spacing: 0;
	color: $text-color;
	}

	h1,
	.h1 {
		font-size: $typography-h1-font-size-mobile;
		line-height: $typography-h1-line-height-mobile;

		@include bp.respond-to(bp.$bpTablet) {
			font-size: $typography-h1-font-size-desktop;
			line-height: $typography-h1-line-height-desktop;
		}
	}

	h2,
	.h2 {
		font-size: $typography-h2-font-size-mobile;
		line-height: $typography-h2-line-height-mobile;

		@include bp.respond-to(bp.$bpTablet) {
			font-size: $typography-h2-font-size-desktop;
			line-height: $typography-h2-line-height-desktop;
		}
	}

	h3,
	.h3 {
		font-size: $typography-h3-font-size-mobile;
		line-height: $typography-h3-line-height-mobile;

		@include bp.respond-to(bp.$bpTablet) {
			font-size: $typography-h3-font-size-desktop;
			line-height: $typography-h3-line-height-desktop;
		}
	}

	h4
	.h4 {
		font-size: $typography-h4-font-size-mobile;
		line-height: $typography-h4-line-height-mobile;

		@include bp.respond-to(bp.$bpTablet) {
			font-size: $typography-h4-font-size-desktop;
			line-height: $typography-h4-line-height-desktop;
		}
	}

	h5,
	.h5 {
		font-size: $typography-h5-font-size-mobile;
		line-height: $typography-h5-line-height-mobile;

		@include bp.respond-to(bp.$bpTablet) {
			font-size: $typography-h5-font-size-desktop;
			line-height: $typography-h5-line-height-desktop;
		}
	}

	h6,
	.h6 {
		font-size: $typography-h6-font-size-mobile;
		line-height: $typography-h6-line-height-mobile;

		@include bp.respond-to(bp.$bpTablet) {
			font-size: $typography-h6-font-size-desktop;
			line-height: $typography-h6-line-height-desktop;
		}
	}

	p {
		font-family: $font-family-primary;
		line-height: $typography-body-line-height-mobile;
		font-size: $typography-body-font-size-mobile;

		@include bp.respond-to(bp.$bpTablet) {
			line-height: $typography-body-line-height-desktop;
			font-size: $typography-body-font-size-desktop;	
		}

		&.caption {
			line-height: $typography-caption-line-height-mobile;
			font-size: $typography-caption-font-size-mobile;

			@include bp.respond-to(bp.$bpTablet) {
				line-height: $typography-caption-line-height-desktop;
				font-size: $typography-caption-font-size-desktop;
			}
		}

		&.small {
			line-height: $typography-body-small-line-height-mobile;
			font-size: $typography-body-small-font-size-mobile;

			@include bp.respond-to(bp.$bpTablet) {
				line-height: $typography-body-small-line-height-desktop;
				font-size: $typography-body-small-font-size-desktop;
			}
		}

		&.large {
			line-height: $typography-body-large-line-height-mobile;
			font-size: $typography-body-large-font-size-mobile;

			@include bp.respond-to(bp.$bpTablet) {
				line-height: $typography-body-large-line-height-desktop;
				font-size: $typography-body-large-font-size-desktop;
			}
		}
	}
}