$ccap-palette-color-blue-edge: #002538; // Primary brand color used for navigational elements
$ccap-palette-color-blue-horizon: #007BBA; // Use for interactive elements, CTAs, and icons
$ccap-palette-color-blue-deep: #006699; // Use for links
$ccap-palette-color-blue-sky: #A1C7E3; // Border for input fields and backgrounds
$ccap-palette-color-background: #F5F9FC; // Background color
$ccap-palette-color-white: #FFFFFF; // Reverse text color and component color
$ccap-palette-color-grey-darkest: #313234; // Default text color
$ccap-palette-color-grey-dark: #5F6062; // Labels for input fields
$ccap-palette-color-grey: #AFAFB0; // Horizontal lines and ghost text
$ccap-palette-color-grey-light: #CFCFCF; // Disabled text and border
$ccap-palette-color-grey-lightest: #EFEFEF; // Disabled background  color
$ccap-palette-color-red-dark: #91000F; // Errors
$ccap-palette-color-red: #C31E1E; // Errors
$ccap-palette-color-red-light: #FFDEDE; // Errors
$ccap-palette-color-blue-dark: #154F88; // Information
$ccap-palette-color-blue: #156BAD; // Information
$ccap-palette-color-blue-light: #DCE9F3; // Information
$ccap-palette-color-blue-edge-10: #001925; // Blue shades
$ccap-palette-color-blue-edge-9: #00314a; // Blue shades
$ccap-palette-color-blue-edge-8: #004a70; // Blue shades
$ccap-palette-color-blue-edge-7: #005580; // Blue shades
$ccap-palette-color-blue-edge-6: #006699; // Blue shades
$ccap-palette-color-blue-edge-5: #4DA3CF; // Blue shades
$ccap-palette-color-blue-edge-4: #66B0D6; // Blue shades
$ccap-palette-color-blue-edge-3: #99CAE3; // Blue shades
$ccap-palette-color-blue-edge-2: #B2D7EA; // Blue shades
$ccap-palette-color-blue-edge-1: #CCE5F1; // Blue shades
$ccap-palette-color-green-dark: #146432; // Success
$ccap-palette-color-green: #15822D; // Success
$ccap-palette-color-green-light: #E2F8E7; // Success
$ccap-palette-color-orange-dark: #896B00; // Warning
$ccap-palette-color-orange: #E8C300; // Warning
$ccap-palette-color-orange-light: #FDF9D7; // Warning


/* Place this in colors page component 


const ccap_palette = [
    { name: 'blue-edge', color: '#002538' },
    { name: 'blue-horizon', color: '#007BBA' },
    { name: 'blue-deep', color: '#006699' },
    { name: 'blue-sky', color: '#A1C7E3' },
    { name: 'background', color: '#F5F9FC' },
    { name: 'white', color: '#FFFFFF' },
    { name: 'grey-darkest', color: '#313234' },
    { name: 'grey-dark', color: '#5F6062' },
    { name: 'grey', color: '#AFAFB0' },
    { name: 'grey-light', color: '#CFCFCF' },
    { name: 'grey-lightest', color: '#EFEFEF' },
    { name: 'red-dark', color: '#91000F' },
    { name: 'red', color: '#C31E1E' },
    { name: 'red-light', color: '#FFDEDE' },
    { name: 'blue-dark', color: '#154F88' },
    { name: 'blue', color: '#156BAD' },
    { name: 'blue-light', color: '#DCE9F3' },
    { name: 'blue-edge-10', color: '#001925' },
    { name: 'blue-edge-9', color: '#00314a' },
    { name: 'blue-edge-8', color: '#004a70' },
    { name: 'blue-edge-7', color: '#005580' },
    { name: 'blue-edge-6', color: '#006699' },
    { name: 'blue-edge-5', color: '#4DA3CF' },
    { name: 'blue-edge-4', color: '#66B0D6' },
    { name: 'blue-edge-3', color: '#99CAE3' },
    { name: 'blue-edge-2', color: '#B2D7EA' },
    { name: 'blue-edge-1', color: '#CCE5F1' },
    { name: 'green-dark', color: '#146432' },
    { name: 'green', color: '#15822D' },
    { name: 'green-light', color: '#E2F8E7' },
    { name: 'orange-dark', color: '#896B00' },
    { name: 'orange', color: '#E8C300' },
    { name: 'orange-light', color: '#FDF9D7' },
]; 
*/ 
