$drive-palette-color-mint: #00ecc1; // mint
$drive-palette-color-evergreen: #193d37; // evergreen
$drive-palette-color-gum: rgba(33,224,165,.5); // gum 

$drive-palette-color-dark-grey: #444444; // Dark Grey
$drive-palette-color-darker-grey: #222222; // Darker Grey
$drive-palette-color-medium-grey: #767676; // Medium Grey
$drive-palette-color-light-grey: #cccccc; // Light Grey
$drive-palette-color-lighter-grey: #f0f0f0; // Lighter Grey
$drive-palette-color-default-grey: #EAEAEA; // default image grey

$drive-palette-color-light-sky: #deedf2; // Light Sky
$drive-palette-color-medium-sky: #cedee7; // Medium Sky
$drive-palette-color-dark-sky: #9bc3d3; // Dark Sky

$drive-palette-color-white: #ffffff; // White
$drive-palette-color-black: #000000; // Black


$drive-palette-color-dallas-blue: #3366ff; // Dallas Blue
$drive-palette-color-midnight-sky: #257fa4; // Midnight Sky

$drive-palette-color-yellow: #ffcc33; // Yellow
$drive-palette-color-green: #63ba68; // Green
$drive-palette-color-turquoise: #1bb3bc; // Turquoise
$drive-palette-color-blue: #3366ff; // Blue
$drive-palette-color-purple: #9e3667; // Purple
$drive-palette-color-lighter-sky: #f5f9fb; // Lighter Sky


$drive-palette-color-dark-yellow: #946f00; // Dark Yellow
$drive-palette-color-dark-green: #008437; // Dark Green
$drive-palette-color-dark-turquoise: #137e84; // Dark Turquoise
$drive-palette-color-darker-turquoise:  #0D5155; // Darker Turquoise
$drive-palette-color-dark-blue: #0032e6; // Dark Blue
$drive-palette-color-dark-purple: #732645; // Dark Purple
$drive-palette-color-darker-sky: #257fa4; // Accesssible Sky


$drive-palette-color-neutral-10: #f6f6f6; // 09 Medium Grey at 5%
$drive-palette-color-neutral-20: #ececec; // 08 Medium Grey at 10%
$drive-palette-color-neutral-30: #dadada; // 07 Medium Grey at 20%
$drive-palette-color-neutral-40: #c7c7c7; // 06 Medium Grey at 30%
$drive-palette-color-neutral-50: #b5b5b5; // 05 Medium Grey at 40%
$drive-palette-color-neutral-60: #a2a2a2; // 04 Medium Grey at 50%
$drive-palette-color-neutral-70: #8f8f8f; // new
$drive-palette-color-neutral-80: #7c7c7c; // 03 Medium Grey at 70%
$drive-palette-color-neutral-90: #6a6a6a; // 02 Medium Grey at 80%
$drive-palette-color-neutral-100: #575757; // 01 Medium Grey at 90%

$drive-palette-color-error-base: #cc0000; // Error Base
$drive-palette-color-error-darker: #990000; // Error Dark
$drive-palette-color-error-lighter: #fee5e5; // Error Light

$drive-palette-color-success-base: #63ba68; // Success Base
$drive-palette-color-success-darker: #3a8340; // Success Dark
$drive-palette-color-success-lighter: #f0f8f0; // Success Light

$drive-palette-color-warning-base: #ffcc33; // Warning Base
$drive-palette-color-warning-darker: #946f00; // Warning Dark
$drive-palette-color-warning-lighter: #fffaeb; // Warning Light

$drive-palette-color-info-base: #9bc3d3; // Info Base
$drive-palette-color-info-darker: #257fa4; // Info Dark
$drive-palette-color-info-lighter: #f9fcfd; // Info Light
