@use "./abstracts" as a;
@use "../../mixins/fonts" as font-mix;
@use "../../mixins/typography" as type-mix;
@use "../../mixins/links" as link-mix;
@use "../../mixins/buttons" as but-mix;
@use "../../mixins/lists" as list-mix;
@use "../../mixins/headers" as head-mix;
@use "../../mixins/inputs" as input-mix;
@use "../../mixins/text" as text-mix;
@use "../../mixins/backgrounds" as background-mix;
@use "../../mixins/borders" as border-mix;

$someValue: "Santander Consumer USA Dark";
@include font-mix.declare-fonts(a.$font-primary...);
@include font-mix.declare-fonts(a.$font-secondary...);
@include font-mix.declare-fonts(a.$font-headline...);

.sc-dark-theme {
    font-family: a.$font-primary-family;
    font-size: 1.5rem;

    .icon {
        font-family: a.$font-icon-family;
    }

    @include text-mix.build-text-styles(a.$text-color-default,
        a.$text-color-soft,
        a.$text-color-disabled,
        a.$text-color-inverted,
        a.$text-color-brand,
        a.$text-color-accent,
        a.$text-color-info,
        a.$text-color-success,
        a.$text-color-warning,
        a.$text-color-error );
    
    @include background-mix.build-backgrounds(a.$background-color-default,
        a.$background-color-alternate,
        a.$background-color-soft,
        a.$background-color-strong,
        a.$background-color-inverted,
        a.$background-color-brand,
        a.$background-color-overlay,
        a.$background-color-info,
        a.$background-color-success,
        a.$background-color-warning,
        a.$background-color-error );

    @include border-mix.build-borders(
        a.$border-color-default,
        a.$border-color-soft,
        a.$border-color-hover,
        a.$border-color-disabled,
        a.$border-color-alternate,
        a.$border-color-inverted,
        a.$border-color-info,
        a.$border-color-success,
        a.$border-color-warning,
        a.$border-color-error);

        @include head-mix.build-header(
            a.$header-desktop-height, 
            a.$header-mobile-height, 
            a.$header-font-family, 
            a.$header-desktop-font-size, 
            a.$header-mobile-font-size, 
            a.$font-icon-family,  
            a.$header-background-color, 
            a.$header-column-head-color,
            'santander');

    @include font-mix.build-fonts(a.$font-primary,
        a.$font-secondary,
        a.$font-headline,
        a.$text-color-brand,
        a.$font-weight-regular,
        a.$font-weight-bold,
        a.$font-weight-light );

    @include font-mix.declare-fonts(a.$font-icon...);

    @include type-mix.build-typography(a.$font-headline-family,
        a.$font-primary-family,
        a.$font-weight-bold,
        a.$text-color-default );

    @include link-mix.build-links(a.$links-colors...);

    @include but-mix.build-buttons(".button",
        a.$font-secondary-family,
        a.$button-font-size,
        a.$button-height,
        a.$button-min-width,
        a.$button-border-radius,
        a.$button-shadow,
        0px,
        a.$button-padding-x,
        a.$button-padding-side,
        a.$button-colors... );

    @include but-mix.build-buttons(".button-small",
        a.$font-secondary-family,
        a.$button-font-size,
        a.$button-small-height,
        a.$button-small-min-width,
        a.$button-small-border-radius,
        a.$button-shadow,
        0px,
        a.$button-padding-x,
        a.$button-padding-side,
        a.$button-colors... );

    @include but-mix.build-buttons(".button-round",
        a.$font-icon-family,
        a.$button-font-size,
        a.$button-round-height,
        a.$button-round-width,
        a.$button-small-border-radius,
        a.$button-shadow,
        0px,
        a.$button-round-padding,
        a.$button-round-padding-side,
        a.$button-colors... );

    @include list-mix.build-lists(a.$font-secondary-family,
        a.$font-icon-family,
        a.$text-color-brand,
        "checkmark-in-a-circle"
    );



    @include input-mix.buildInputs(a.$font-secondary-family, 
        a.$text-color-default, 
        a.$background-color-default,
        a.$background-color-soft,
        a.$sc-palette-color-sky-75,
        a.$sc-palette-color-opacity-10-neutral-95,
        a.$sc-palette-color-turquoise-75,
        a.$sc-palette-color-opacity-50-neutral-95,
        0.5rem);

    input::placeholder {
        color: a.$sc-palette-color-opacity-50-neutral-95;
    }
    
    .item {
        padding: 0.5rem;
        font-weight: a.$font-weight-bold;
        background-color: a.$sc-palette-color-red-50;
        color: white;

        &::before {
            content: $someValue;
        }
    }

    progress {
        accent-color: a.$sc-palette-color-red-50; //TODO: Fix this rich!
    }
}